<!DOCTYPE html>
<html>
    <head>
        <title>Web Audio MonoSynth</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <style type="text/css">
        
            /* Stop Angular double curly braces showing before the page is loaded */
            [ng-cloak] {
                display: none !important;
            }
            #analyser {height: 220px; width: 100%}
            .padded {margin-top: 6px;}
        </style>
    </head>
    <body>
        <!--
        This sample is published as part of the blog article at www.toptal.com/blog
        Visit www.toptal.com/blog and subscribe to our newsletter to read great posts
        -->
        <div class="synth container" ng-controller="WebSynthCtrl">
            <h1>WebAudio Synth</h1>
            <div class="form-group">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <select class="form-control" ng-disabled="synth.useKeyboard" ng-model="activeDevice" ng-options="device.manufacturer + ' ' + device.name for device in devices">
                        <option value="" disabled>Choose a MIDI device...</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="padded">
                        <input type="checkbox" ng-model="synth.useKeyboard" />
                        use computer keyboard
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Oscillator</h2>
                <div class="form-group">
                    <h3>Oscillator Type</h3>
                    <label ng-repeat="t in oscTypes" ng-cloak>
                        <input type="radio" name="oscType" ng-model="synth.oscType" value="{{t}}" ng-checked="'{{t}}' === synth.oscType" />
                        {{t}}&nbsp;
                    </label>
                </div>
                <h2>LFO</h2>
                <div class="form-group">
                    <label>
                        <input type="checkbox" ng-model="synth.lfoOn" />
                        enable LFO
                    </label>
                    <input type="range" class="form-control" min="-40" max="120" ng-model="synth.lfoFreq" />   
                </div>
                <h2>Filter</h2>
                <div class="form-group">
                    <label>
                        <input type="checkbox" ng-model="synth.filterOn" />
                        enable filter
                    </label>
                </div>
                <div class="form-group">
                    <h3>Filter Type</h3>
                    <label ng-repeat="t in filterTypes" ng-cloak>
                        <input type="radio" name="filterType" ng-model="synth.filterType" value="{{t}}" ng-disabled="!synth.filterOn" ng-checked="synth.filterOn &amp;&amp; '{{t}}' === synth.filterType" />
                        {{t}}&nbsp;
                    </label>
                </div>
                <div class="form-group">
                    <!-- frequency -->
                    <label>filter frequency:</label>
                    <input type="range" class="form-control" min="50" max="10000" ng-model="synth.filterFreq" ng-disabled="!synth.filterOn" />
                </div>
                <div class="form-group">
                    <!-- resonance -->
                    <label>filter resonance:</label>
                    <input type="range" class="form-control" min="0" max="150" ng-model="synth.filterRes" ng-disabled="!synth.filterOn" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- frequency analyser goes here -->
                <div class="panel panel-default">
                    <div class="panel-heading">Analyser</div>
                    <div class="panel-body">
                        <canvas id="analyser"></canvas>
                    </div>
                </div>
                <div class="form-group">
                    <!-- attack -->
                    <label>attack:</label>
                    <input type="range" class="form-control" min="50" max="2500" ng-model="synth.attack" />
                </div>
                <div class="form-group">
                    <!-- release -->
                    <label>release:</label>
                    <input type="range" class="form-control" min="50" max="1000" ng-model="synth.release" />
                </div>
            </div>
        </div>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="app/js/midi.js"></script>
        <script src="app/js/keyboard.js"></script>
        <script src="app/js/analyser.js"></script>
        <script src="app/js/audio.js"></script>
        <script src="app/js/synth.js"></script>
        <script src="app/js/app.js"></script>
    </body>
</html>